# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Logs
*.log
*.tmp
*.temp

# Metro bundler
.expo/
.expo-shared/
.expo/*

# React Native
build/
android/app/build/
android/app/debug
android/app/release
*.iml

# Gradle
.gradle/
android/.gradle/
android/build/
android/.idea/
android/local.properties
android/app/*.keystore
android/gradle.properties

# Pods (iOS)
ios/Pods/
ios/Podfile.lock
ios/*.xcworkspace

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa

# Bundling
*.jsbundle

# VSCode
.vscode/
.history/
.idea/

# Environment variables
.env
.env.local
.env.*.local

# Testing
coverage/
jest-cache/
jest-output/

# OS files
.DS_Store
Thumbs.db

# Temporary
.tmp/
temp/
